<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>БЗПИ - Онлайн-магазин</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- All CSS is here
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/styles/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/styles/vendor/font-awesome.css">
    <link rel="stylesheet" href="/styles/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="/styles/plugins/owl-carousel.css">
    <link rel="stylesheet" href="/styles/plugins/slick.css">
    <link rel="stylesheet" href="/styles/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/styles/plugins/jarallax.css">
    <link rel="stylesheet" href="/styles/plugins/easyzoom.css">
    <link rel="stylesheet" href="/styles/plugins/animate.css">
    <link rel="stylesheet" href="/styles/plugins/fullpage.css">
    <link rel="stylesheet" href="/styles/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/styles/plugins/select2.min.css">
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>

<div class="main-wrapper">
    <header class="header-area section-padding-1">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2">
                    <div class="logo logo-width">
                        <a href="/">
                            <img src="/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                    <div class="main-menu menu-lh-1 main-menu-padding-1">
                        <nav>
                            <ul>
                                <li class="position-static"><a class="active" href="/">Главная</a>
                                </li>
                                <li><a href="/">Страницы <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu-width">
                                        <li><a href="/about-us">О нас</a></li>
                                        <li><a href="/contact">Контакты</a></li>
                                        <li><a href="/faq">FAQ</a></li>
                                    </ul>
                                </li>
                                <li><a href="/product/all">Магазин </a>
                                </li>
                                <li><a href="/blog">Блог </a>
                                </li>
                                <li><a href="/account">Мой аккаунт <i class="fa fa-angle-down"></i> </a>
                                    <ul class="sub-menu-width">
                                        <li><a href="/account">Аккаунт</a></li>
                                        <li><a href="/cart">Корзина</a></li>
                                        <li><a href="/login">Вход / Регистрация</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-2">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <h2>Блог</h2>
                </div>
                <ul>
                    <li>
                        <a href="/">Главная </a>
                    </li>
                    <li><span> > </span></li>
                    <li class="active"> Блог</li>
                </ul>
            </div>
        </div>
    </div>
        <!-- Blog start -->
        <div class="blog-area-2 padding-80-row-col pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="blog-wrap-3 mb-50">
                            <div class="blog-img-3 mb-20">
                                ><img src="/images/blog/b1.jpeg" alt="blog">
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-category">
                                    <a href="#">Новости</a>
                                </div>
                                <h3><a href="https://www.bzpi.by/news/mezhdunarodnyy-den-klienta/">Международный день клиента</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Опубликовано 19 марта 2024</a></li>
                                        <li>   <a href="#">Мария Пирог</a></li>
                                    </ul>
                                </div>
                                <div class="blog-btn-2 blog-btn-2-red mt-35">
                                    <a href="https://www.bzpi.by/news/mezhdunarodnyy-den-klienta/">Более</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-wrap-3 mb-50">
                            <div class="blog-img-3 mb-20">
                                <a href="https://www.bzpi.by/news/mezhdunarodnyy-zhenskiy-den/"><img src="/images/blog/b5.jpeg" alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-category">
                                    <a href="#">Праздники</a>
                                </div>
                                <h3><a href="https://www.bzpi.by/news/mezhdunarodnyy-zhenskiy-den/">Международный женский день</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Опубликовано 7 марта 2024</a></li>
                                        <li>   <a href="#">Мария Пирог</a></li>
                                    </ul>
                                </div>
                                <div class="blog-btn-2 blog-btn-2-red mt-35">
                                    <a href="https://www.bzpi.by/news/mezhdunarodnyy-zhenskiy-den/">Более</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-wrap-3 mb-50">
                            <div class="blog-img-3 mb-20">
                                <a href="https://www.bzpi.by/news/v-belarusi-uchrezhden-gosudarstvennyy-znak-kachestva-/">
                                    <img src="/images/blog/b2.jpg" alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-category">
                                    <a href="#">Качество</a>
                                </div>
                                <h3><a href="https://www.bzpi.by/news/v-belarusi-uchrezhden-gosudarstvennyy-znak-kachestva-/">Государственный знак качества</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Опубликовано 19 января 2024</a></li>
                                        <li>   <a href="#">Мария Пирог</a></li>
                                    </ul>
                                </div>
                                <div class="blog-btn-2 blog-btn-2-red mt-35">
                                    <a href="https://www.bzpi.by/news/v-belarusi-uchrezhden-gosudarstvennyy-znak-kachestva-/">Более</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-wrap-3 mb-50">
                            <div class="blog-img-3 mb-20">
                                <a href="https://www.bzpi.by/news/s-nastupivshim-novym-2024-godom-/"><img src="/images/blog/b6.jpeg" alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-category">
                                    <a href="#">Праздники</a>
                                </div>
                                <h3><a href="https://www.bzpi.by/news/s-nastupivshim-novym-2024-godom-/">С Новым Годом!</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Опубликовано 1 января 2024</a></li>
                                        <li>   <a href="#">Мария Пирог</a></li>
                                    </ul>
                                </div>
                                <div class="blog-btn-2 blog-btn-2-red mt-35">
                                    <a href="https://www.bzpi.by/news/s-nastupivshim-novym-2024-godom-/">Более</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-wrap-3 mb-50">
                            <div class="blog-img-3 mb-20">
                                <a href="https://www.bzpi.by/news/sobranie-molodykh-rabotnikov-oao--bzpi-/">
                                    <img src="/images/blog/b4.jpeg" alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-category">
                                    <a href="#">Встречи</a>
                                </div>
                                <h3><a href="https://www.bzpi.by/news/sobranie-molodykh-rabotnikov-oao--bzpi-/">Встреча молодых специалистов</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Опубликовано 21 октября 2023</a></li>
                                        <li>   <a href="#">Мария Пирог</a></li>
                                    </ul>
                                </div>
                                <div class="blog-btn-2 blog-btn-2-red mt-35">
                                    <a href="https://www.bzpi.by/news/sobranie-molodykh-rabotnikov-oao--bzpi-/">Более</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-wrap-3 mb-50">
                            <div class="blog-img-3 mb-20">
                                <a href="https://www.bzpi.by/news/vytoki_borisov/">
                                    <img src="/images/blog/b3.jpeg" alt="blog"></a>
                                <div class="blog-music-icon">
                                    <a href="https://www.bzpi.by/news/vytoki_borisov/"><i class="fa fa-music"></i></a>
                                </div>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-category">
                                    <a href="#">Мероприятия</a>
                                </div>
                                <h3><a href="https://www.bzpi.by/news/vytoki_borisov/">Вытоки</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Опубликовано 26 августа 2023</a></li>
                                        <li>   <a href="#">Мария Пирог</a></li>
                                    </ul>
                                </div>
                                <div class="blog-btn-2 blog-btn-2-red mt-35">
                                    <a href="https://www.bzpi.by/news/vytoki_borisov/">Более</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pro-pagination-style text-center">
                    <ul>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><span>…</span></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="dlicon arrows-1_tail-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Blog end -->
    <footer class="footer-area section-padding-1 border-top-3">
        <div class="container-fluid">
            <div class="footer-top pt-100 pb-60">
                <div class="row">
                    <div class="footer-column footer-width-24">
                        <div class="footer-widget footer-about mb-30">
                            <a href="/">
                                <img src="/images/logo/logo.png" alt="logo">
                            </a>
                            <p>Мы объединяем все известные на сегодняшний день технологии переработки пластмасс: литье под давлением,
                                экструзия, выдув, ротационное формование, прессование.</p>
                            <div class="social-icon-style-2 social-icon-hm4">
                                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-column footer-width-12">
                        <div class="footer-widget footer-info-list-2 mb-30">
                            <h3 class="footer-title">Полезные ссылки</h3>
                            <ul>
                                <li><a href="/about-us">О нас</a></li>
                                <li><a href="/about-us">Помошь</a></li>
                                <li><a href="/about-us">Наша команда</a></li>
                                <li><a href="/about-us">Политика организации</a></li>
                                <li><a href="#">Блог</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column footer-width-19">
                        <div class="footer-widget footer-info-list-2 footer-contect mb-30">
                            <h3 class="footer-title">Контактная информация</h3>
                            <ul>
                                <li><i class="dlicon ui-2_time-clock"></i> Понедельник - Пятница: 9:00 - 17:00</li>
                                <li><i class="dlicon ui-1_email-83"></i> bzpi@bzpi.by</li>
                                <li><i class="dlicon tech-2_rotate"></i> +375 (177) 79-08-21</li>
                                <li><i class="dlicon ui-1_home-simple"></i> 222511, Республика Беларусь,
                                    Минская область, Борисова,
                                    ул. Даумана, 97
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column footer-width-29 mb-30">
                        <div class="contact-page-map">
                            <div id="contact-map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-botoom">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-2 text-center">
                            <p>© 2024 <a href="https://www.bzpi.by/">БЗПИ.</a> Все права защищены.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="support-lists">
        <ul>
            <li><a href="#"><i class="dlicon ui-3_chat-46"></i></a></li>
            <li><a href="#"><i class=" dlicon ui-3_phone"></i></a></li>
            <li><a href="#"><i class="dlicon ui-1_email-85"></i></a></li>
        </ul>
    </div>
</div>

<!-- All scripts is here
============================================ -->

<!-- Modernizer scripts -->
<script src="/scripts/vendor/modernizr-3.11.7.min.js"></script>
<!-- jquery -->
<script src="/scripts/vendor/jquery-v3.6.0.min.js"></script>
<!-- Popper scripts -->
<script src="/scripts/vendor/popper.js"></script>
<!-- Bootstrap scripts -->
<script src="/scripts/vendor/bootstrap.min.js"></script>
<script src="/scripts/plugins/owl-carousel.js"></script>
<script src="/scripts/plugins/slick.js"></script>
<script src="/scripts/plugins/jarallax.min.js"></script>
<script src="/scripts/plugins/countdown.js"></script>
<script src="/scripts/plugins/magnific-popup.js"></script>
<script src="/scripts/plugins/instafeed.js"></script>
<script src="/scripts/plugins/tilt.js"></script>
<script src="/scripts/plugins/images-loaded.js"></script>
<script src="/scripts/plugins/isotope.js"></script>
<script src="/scripts/plugins/scrolloverflow-fullpage.js"></script>
<script src="/scripts/plugins/fullpage.js"></script>
<script src="/scripts/plugins/jquery-ui.js"></script>
<script src="/scripts/plugins/jquery-ui-touch-punch.js"></script>
<script src="/scripts/plugins/easyzoom.js"></script>
<script src="/scripts/plugins/resizesensor.js"></script>
<script src="/scripts/plugins/sticky-sidebar.js"></script>
<script src="/scripts/plugins/scrollup.js"></script>
<script src="/scripts/plugins/select2.min.js"></script>
<script src="/scripts/plugins/cookie.js"></script>
<script src="/scripts/plugins/bpopup.js"></script>
<script src="/scripts/plugins/wow.js"></script>
<script src="/scripts/plugins/ajax-mail.js"></script>
<!-- Main scripts -->
<script src="/scripts/main.js"></script>
<script>
    function init() {
        var mapOptions = {
            zoom: 11,
            scrollwheel: false,
            center: new google.maps.LatLng(54.2071, 28.5067), // Координаты для г. Борисов, Беларусь
            styles: [
                // Стили карты
            ]
        };
        var mapElement = document.getElementById('contact-map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(54.2071, 28.5067), // Координаты для г. Борисов, Беларусь
            map: map,
            icon: '/images/icon-img/2.png',
            animation: google.maps.Animation.BOUNCE,
            title: 'Местоположение: г. Борисов, ул. Даумана, 97'
        });
    }

    google.maps.event.addDomListener(window, 'load', init);
</script>
</body>

</html>