<!doctype html>
<html class="no-scripts" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BZPI - Online shop</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/styles/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/styles/vendor/font-awesome.css">
    <link rel="stylesheet" href="/styles/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="/styles/plugins/owl-carousel.css">
    <link rel="stylesheet" href="/styles/plugins/slick.css">
    <link rel="stylesheet" href="/styles/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/styles/plugins/jarallax.css">
    <link rel="stylesheet" href="/styles/plugins/easyzoom.css">
    <link rel="stylesheet" href="/styles/plugins/animate.css">
    <link rel="stylesheet" href="/styles/plugins/fullpage.css">
    <link rel="stylesheet" href="/styles/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/styles/plugins/select2.min.css">
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>

<div class="main-wrapper">
    <header class="header-area transparent-bar section-padding-1">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2">
                    <div class="logo logo-width">
                        <a href="/">
                            <img src="/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                    <div class="main-menu menu-lh-1 main-menu-padding-1">
                        <nav>
                            <ul>
                                <li class="position-static"><a class="active" href="/">Home</a>
                                </li>
                                <li><a href="/">Pages <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu-width">
                                        <li><a href="/about-us">About Us</a></li>
                                        <li><a href="/contact">Contact Page</a></li>
                                        <li><a href="/faq">FAQ</a></li>
                                    </ul>
                                </li>
                                <li><a href="/product/all">Shop </a>
                                </li>
                                <li><a href="blog-3.html">Blog </a>
                                </li>
                                <li><a href="/account">My account <i class="fa fa-angle-down"></i> </a>
                                    <ul class="sub-menu-width">
                                        <li><a href="/account">My Account</a></li>
                                        <li><a href="/cart">Shopping Cart</a></li>
                                        <li><a href="/login">login / register</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <div class="header-right-wrap header-right-flex">
                        <div class="same-style cart-wrap">
                            <a href="#" class="cart-active">
                                <i class="dlicon shopping_bag-20"></i>
                                <span class="count-style">02</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="sidebar-cart-active">
        <div class="sidebar-cart-all">
            <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="cart-content">
                <h3>Shopping Cart</h3>
                <ul>
                    <li class="single-product-cart">
                        <div class="cart-img">
                            <a href="#"><img src="/images/cart/cart-1.jpg" alt=""></a>
                        </div>
                        <div class="cart-title">
                            <h4><a href="#">Bejewelled velvet sandals</a></h4>
                            <span> 1 × $49.00	</span>
                        </div>
                        <div class="cart-delete">
                            <a href="#">×</a>
                        </div>
                    </li>
                    <li class="single-product-cart">
                        <div class="cart-img">
                            <a href="#"><img src="/images/cart/cart-2.jpg" alt=""></a>
                        </div>
                        <div class="cart-title">
                            <h4><a href="#">Contrast faux fur jacket</a></h4>
                            <span> 1 × $49.00	</span>
                        </div>
                        <div class="cart-delete">
                            <a href="#">×</a>
                        </div>
                    </li>
                </ul>
                <div class="cart-total">
                    <h4>Subtotal: <span>$170.00</span></h4>
                </div>
                <div class="cart-checkout-btn">
                    <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-area pt-120 bg-light-pink-2 section-padding-1">
        <div class="container-fluid">
            <div class="main-slider-active owl-carousel slider-dot-position-1 slider-dot-style-1">
                <div class="single-main-slider slider-animated-1" data-dot="01">
                    <div class="row align-items-center flex-row-reverse">
                        <div class="col-lg-6 col-md-6">
                            <div class="main-slider-img">
                                <img src="/images/main.jpg" alt="" width="903" height="1000">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="main-slider-content-1 slider-content-mrg-l-1">
                                <span class="animated">PLASTIC SHOP </span>
                                <h1 class="animated">BZPI </h1>
                                <div class="slider-btn-1">
                                    <a class="animated" href="/aboutUs">DISCOVER NOW </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-main-slider slider-animated-1" data-dot="02">
                    <div class="row align-items-center flex-row-reverse">
                        <div class="col-lg-6 col-md-6">
                            <div class="main-slider-img">
                                <img src="/images/main2.jpg" alt="" width="903" height="1000">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="main-slider-content-1 slider-content-mrg-l-1">
                                <span class="animated">OUR PRODUCTS</span>
                                <h1 class="animated">FILM </h1>
                                <div class="slider-btn-1">
                                    <a class="animated" href="#">DISCOVER NOW </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-main-slider slider-animated-1" data-dot="03">
                    <div class="row align-items-center flex-row-reverse">
                        <div class="col-lg-6 col-md-6">
                            <div class="main-slider-img">
                                <img src="/images/main3.jpg" alt="" width="903" height="1000">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="main-slider-content-1 slider-content-mrg-l-1">
                                <span class="animated">OUR PRODUCTS  </span>
                                <h1 class="animated">PLASTIC </h1>
                                <div class="slider-btn-1">
                                    <a class="animated" href="#">DISCOVER NOW </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-social slider-social-white">
            <ul>
                <li><a href="https://www.bzpi.by/">BZPI</a></li>
                <li><a href="https://www.instagram.com/bzpi.by/">INSTAGRAM</a></li>
                <li><a href="https://www.facebook.com/groups/garantkachestva/">FACEBOOK</a></li>
            </ul>
        </div>
    </div>
    <div class="product-area pt-130 pb-130">
        <div class="container-fluid">
            <div class="section-title-1 mb-70 text-center">
                <h2>NEW ARRIVAL</h2>
            </div>
        </div>
        <div class="product-slider-active product-slider-padding dot-style-1">
            <div class="product-wrap product-wrap-opacity">
                <div class="product-img default-overlay mb-40">
                    <a th:href="@{/product/info/{id}(id= ${products.get(0).getProductId()})}">
                        <img class="default-img" th:src="@{${products.get(0).getProductPicture()}}" alt="Product Image"
                             width="600" height="750">
                    </a>
                    <div class="product-action product-action-position-1">
                        <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                    </div>
                </div>
                <div class="product-content">
                    <h3 class="title-blod"><a th:href="@{/product/info/{id}(id= ${products.get(0).getProductId()})}">
                        <span th:text="${products.get(0).getProductName()}"></span>
                    </a></h3>
                    <div class="product-price">
                        <span class="new-price" th:text="${products.get(0).getProductCost()}"></span>
                    </div>
                </div>
            </div>
            <div class="product-wrap product-wrap-opacity">
                <div class="product-img default-overlay mb-40">
                    <a th:href="@{/product/info/{id}(id= ${products.get(1).getProductId()})}">
                        <img class="default-img" th:src="@{${products.get(1).getProductPicture()}}" alt="Product Image"
                             width="600" height="750">
                    </a>
                    <div class="product-action product-action-position-1">
                        <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                    </div>
                </div>
                <div class="product-content">
                    <h3 class="title-blod"><a th:href="@{/product/info/{id}(id= ${products.get(1).getProductId()})}">
                        <span th:text="${products.get(1).getProductName()}"></span>
                    </a></h3>
                    <div class="product-price">
                        <span class="new-price" th:text="${products.get(1).getProductCost()}"></span>
                    </div>
                </div>
            </div>
            <div class="product-wrap product-wrap-opacity">
                <div class="product-img default-overlay mb-40">
                    <a th:href="@{/product/info/{id}(id= ${products.get(2).getProductId()})}">
                        <img class="default-img" th:src="@{${products.get(2).getProductPicture()}}" alt="Product Image"
                             width="600" height="750">
                    </a>
                    <div class="product-action product-action-position-1">
                        <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                    </div>
                </div>
                <div class="product-content">
                    <h3 class="title-blod"><a th:href="@{/product/info/{id}(id= ${products.get(2).getProductId()})}">
                        <span th:text="${products.get(2).getProductName()}"></span>
                    </a></h3>
                    <div class="product-price">
                        <span class="new-price" th:text="${products.get(2).getProductCost()}"></span>
                    </div>
                </div>
            </div>
            <div class="product-wrap product-wrap-opacity">
                <div class="product-img default-overlay mb-40">
                    <a th:href="@{/product/info/{id}(id= ${products.get(3).getProductId()})}">
                        <img class="default-img" th:src="@{${products.get(3).getProductPicture()}}" alt="Product Image"
                             width="600" height="750">
                    </a>
                    <div class="product-action product-action-position-1">
                        <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                    </div>
                </div>
                <div class="product-content">
                    <h3 class="title-blod"><a th:href="@{/product/info/{id}(id= ${products.get(3).getProductId()})}">
                        <span th:text="${products.get(3).getProductName()}"></span>
                    </a></h3>
                    <div class="product-price">
                        <span class="new-price" th:text="${products.get(3).getProductCost()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area section-padding-2 padding-120-row-col pb-125">
        <div class="container-fluid">
            <div class="section-title-1 mb-70 text-center">
                <h2>Must have</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product-wrap mb-60">
                        <div class="product-img default-overlay mb-25">
                            <a th:href="@{/product/info/{id}(id= ${products.get(4).getProductId()})}">
                                <img class="default-img" th:src="@{${products.get(4).getProductPicture()}}"
                                     alt="Product Image" width="600" height="750">

                                <span class="badge-black badge-left-20 badge-top-20 badge-width-height-2 badge-border-radius-100">sale!</span>
                            </a>
                            <div class="product-action product-action-position-1">
                                <a title="Add to Cart" href="#"><i
                                        class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                            </div>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a th:href="@{/product/info/{id}(id= ${products.get(4).getProductId()})}">
                                <span th:text="${products.get(4).getProductName()}"></span>
                            </a></h3>
                            <div class="product-price">
                                <span class="new-price" th:text="${products.get(4).getProductCost()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product-wrap mb-60">
                        <div class="product-img default-overlay mb-25">
                            <a th:href="@{/product/info/{id}(id= ${products.get(5).getProductId()})}">
                                <img class="default-img" th:src="@{${products.get(5).getProductPicture()}}"
                                     alt="Product Image" width="600" height="750">

                                <span class="badge-black badge-left-20 badge-top-20 badge-width-height-2 badge-border-radius-100">sale!</span>
                            </a>
                            <div class="product-action product-action-position-1">
                                <a title="Add to Cart" href="#"><i
                                        class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                            </div>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a th:href="@{/product/info/{id}(id= ${products.get(5).getProductId()})}">
                                <span th:text="${products.get(5).getProductName()}"></span>
                            </a></h3>
                            <div class="product-price">
                                <span class="new-price" th:text="${products.get(5).getProductCost()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product-wrap mb-60">
                        <div class="product-img default-overlay mb-25">
                            <a th:href="@{/product/info/{id}(id= ${products.get(6).getProductId()})}">
                                <img class="default-img" th:src="@{${products.get(6).getProductPicture()}}"
                                     alt="Product Image" width="600" height="750">

                                <span class="badge-black badge-left-20 badge-top-20 badge-width-height-2 badge-border-radius-100">sale!</span>
                            </a>
                            <div class="product-action product-action-position-1">
                                <a title="Add to Cart" href="#"><i
                                        class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                            </div>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a th:href="@{/product/info/{id}(id= ${products.get(6).getProductId()})}">
                                <span th:text="${products.get(6).getProductName()}"></span>
                            </a></h3>
                            <div class="product-price">
                                <span class="new-price" th:text="${products.get(6).getProductCost()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-style-1 text-center">
                <a class="btn-border" href="/product/all">
                    <div class="btn-viewmore-normal btn-ptb-1 btn-viewmore-bg-transparent btn-viewmore-common">
                        <span>View all products</span>
                    </div>
                    <div class="btn-viewmore-hover btn-ptb-1 btn-viewmore-common btn-hover-transition">
                        <span>View all products</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <footer class="footer-area section-padding-1 border-top-3">
        <div class="container-fluid">
            <div class="footer-top pt-100 pb-60">
                <div class="row">
                    <div class="footer-column footer-width-24">
                        <div class="footer-widget footer-about mb-30">
                            <a href="/">
                                <img src="/images/logo/logo.png" alt="logo">
                            </a>
                            <p>We combine all currently known technologies for plastic processing: injection molding,
                                extrusion, blowing, rotational molding, pressing..</p>
                            <div class="social-icon-style-2 social-icon-hm4">
                                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-column footer-width-12">
                        <div class="footer-widget footer-info-list-2 mb-30">
                            <h3 class="footer-title">Company Link</h3>
                            <ul>
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/about-us">Help Center</a></li>
                                <li><a href="/about-us">Our Team</a></li>
                                <li><a href="/about-us">Privacy Policy</a></li>
                                <li><a href="#">The Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column footer-width-14">
                        <div class="footer-widget footer-info-list-2 mb-30">
                            <h3 class="footer-title">Userful Link</h3>
                            <ul>
                                <li><a href="/product/all">Products</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column footer-width-19">
                        <div class="footer-widget footer-info-list-2 footer-contect mb-30">
                            <h3 class="footer-title">Contact info</h3>
                            <ul>
                                <li><i class="dlicon ui-2_time-clock"></i> Monday - Friday: 9:00 - 17:00</li>
                                <li><i class="dlicon ui-1_email-83"></i> bzpi@bzpi.by</li>
                                <li><i class="dlicon tech-2_rotate"></i> +375 (177) 79-08-21</li>
                                <li><i class="dlicon ui-1_home-simple"></i> 222511, Republic of Belarus,
                                    Minsk region, Borisov,
                                    Dauman str., 97
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column footer-width-29 mb-30">
                        <div class="contact-page-map">
                            <div id="contact-map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-botoom">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-2 text-center">
                            <p>© 2023 <a href="https://www.bzpi.by/">BZPI.</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="support-lists">
        <ul>
            <li><a href="#"><i class="dlicon ui-3_chat-46"></i></a></li>
            <li><a href="#"><i class=" dlicon ui-3_phone"></i></a></li>
            <li><a href="#"><i class="dlicon ui-1_email-85"></i></a></li>
        </ul>
    </div>
</div>

<!-- All scripts is here
============================================ -->

<!-- Modernizer scripts -->
<script src="/scripts/vendor/modernizr-3.11.7.min.js"></script>
<!-- jquery -->
<script src="/scripts/vendor/jquery-v3.6.0.min.js"></script>
<!-- Popper scripts -->
<script src="/scripts/vendor/popper.js"></script>
<!-- Bootstrap scripts -->
<script src="/scripts/vendor/bootstrap.min.js"></script>
<script src="/scripts/plugins/owl-carousel.js"></script>
<script src="/scripts/plugins/slick.js"></script>
<script src="/scripts/plugins/jarallax.min.js"></script>
<script src="/scripts/plugins/countdown.js"></script>
<script src="/scripts/plugins/magnific-popup.js"></script>
<script src="/scripts/plugins/instafeed.js"></script>
<script src="/scripts/plugins/tilt.js"></script>
<script src="/scripts/plugins/images-loaded.js"></script>
<script src="/scripts/plugins/isotope.js"></script>
<script src="/scripts/plugins/scrolloverflow-fullpage.js"></script>
<script src="/scripts/plugins/fullpage.js"></script>
<script src="/scripts/plugins/jquery-ui.js"></script>
<script src="/scripts/plugins/jquery-ui-touch-punch.js"></script>
<script src="/scripts/plugins/easyzoom.js"></script>
<script src="/scripts/plugins/resizesensor.js"></script>
<script src="/scripts/plugins/sticky-sidebar.js"></script>
<script src="/scripts/plugins/scrollup.js"></script>
<script src="/scripts/plugins/select2.min.js"></script>
<script src="/scripts/plugins/cookie.js"></script>
<script src="/scripts/plugins/bpopup.js"></script>
<script src="/scripts/plugins/wow.js"></script>
<script src="/scripts/plugins/ajax-mail.js"></script>
<!-- Main scripts -->
<script src="/scripts/main.js"></script>

</body>

</html>