<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/admin/productAction/add}" enctype="multipart/form-data">
    <input type="text" name="name">
    <br>
    <input type="text" name="description">
    <br>
    <input type="file" name="file">
    <br>
    <input type="number" name="count">
    <br>
    <input type="number" name="cost">
    <br>
    <select name="type" required>
        <option th:each="type : ${types}"
                th:value="${type.getCode()}" th:text="${type.getCode()}"
        >
        </option>
    </select>
    <br>
    <input type="number" name="cost">
    <br>
    <br><br>

    <input type="submit">
</form>
</body>
</html>