<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="admin">
<section class="topSection">
  <div class="topSection__header">
    <header class="header">
      <div class="content header__content"><a class="header__contact-link" href="tel:80177711177">8(017771 11
        77)</a>
        <nav><a href="/main">Main</a><a href="/services/serviceBody">Services</a><a href="/masters">Masters</a><a
                href="/certificate">Certificate</a><a href="/profile/profileRecord">Profile</a></nav>
      </div>
    </header>
  </div><img class="topSection__image" src="/images/b879cb161622361.63f21a78489e5.jpg" alt="">
  <div class="content topSection__content">
    <h1>ADMIN</h1>
  </div>
</section>
<nav class="adminMenu"><a class="adminMenu__link" href="/admin/mastersAction">Masters Action</a><a class="adminMenu__link" href="/admin/serviceAction">Services Action</a><a class="adminMenu__link" href="/admin/bonusAction">Bonus</a><a class="adminMenu__link" href="/admin/profitability">Profitability</a><a class="adminMenu__link" href="/admin/report">Report</a><a class="adminMenu__link" href="/admin/profit">Profit</a></nav>
<section class="section adminBaseSection">
  <div class="content adminBaseSection__content">
    <div class="adminBaseSection__left"><img class="adminBaseSection__image" src="/images/867252139310065.622d9d77ddc44.jpg" alt=""></div>
    <div class="adminBaseSection__right">
      <div class="adminBaseSection__title">
        <h2 class="title">Service data
          <div class="title__shadow">
            <p>Service data</p>
          </div>
        </h2>
      </div>
      <div class="adminTable">
        <div class="adminTable__table-wrapper">
          <table class="adminTable__table">
            <tr class="admin__action" th:each="products : ${products}">
              <td class="admin__action" th:text="${products.getProductName()}">Name</td>
              <td class="admin__action" th:text="${products.getProductType()}">Type</td>
              <td class="admin__action" th:text="${products.getProductCost()}">Cost</td>
              <td class="admin__action" th:text="${products.getProductCount()}">Count</td>
              <td class="admin__action" th:text="${products.getProductDescription()}">Description</td>
<!--              <td class="admin__action" th:text="${products.getProductPicture()}">Picture</td>-->
              <img th:src="@{${products.getProductPicture()}}" alt="Product Image" />
              <td>
                <a class="admin__action" th:href="@{/admin/productAction/edit/{id}(id=${products.getProductId()})}">Edit</a>
              </td>
              <td>
                <a class="admin__action" th:href="@{/admin/productAction/delete/{id}(id=${products.getProductId()})}">Delete</a>
              </td>
            </tr>
          </table>
        </div><a class="admin__action" th:href="@{/admin/productAction/add}">Add New</a>
      </div>
    </div>
  </div>
  <div class="content admin__logoutContent"><a class="admin__logoutButton" href="/logout">LogOut</a></div>
</section>
</body>
</html>