<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/admin/productAction/edit/{id}(id=${product.getProductId()})}" enctype="multipart/form-data">
    <input type="text" name="name" th:value="${product.getProductName()}" >
    <br>
    <input type="text" name="description" th:value="${product.getProductDescription()}">
    <br>
    <input type="file" name="file">
    <br>
    <input type="number" name="count" th:value="${product.getProductCount()}">
    <br>
    <input type="number" name="cost" th:value="${product.getProductCost()}">
    <br>
    <select name="type" required>
        <option th:each="type : ${types}"
                th:value="${type.getCode()}" th:text="${type.getCode()}"
                th:selected="${product.getProductType()==type.getCode()}">
        </option>
    </select>
    <br>
    <input type="number" name="cost" th:value="${product.getProductCost()}">
    <br>
    <br><br>

    <input type="submit">
</form>
</body>
</html>